<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voodoo.PRMS_MiBand">

    <!--
        Comment in for testing Pebble Emulator
        <uses-permission android:name="android.permission.INTERNET" />
    -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name="com.voodoo.GadgetBridgeFiles.GBApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/GadgetbridgeTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.ControlCenter"
            android:label="@string/title_activity_controlcenter" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ControlCenter" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.devices.miband.MiBandPreferencesActivity"
            android:label="@string/preferences_miband_settings"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.SettingsActivity" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.AppManagerActivity"
            android:label="@string/title_activity_appmanager"
            android:launchMode="singleTop"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ControlCenter" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.AppBlacklistActivity"
            android:label="@string/title_activity_appblacklist"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.SettingsActivity" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.FwAppInstallerActivity"
            android:label="@string/title_activity_fw_app_insaller"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ControlCenter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <!-- needed for aosp-derived ROMs? -->

                <data android:host="*" />
                <data android:scheme="file" />

                <!-- as seen on openkeychain repo: https://github.com/open-keychain/open-keychain/blob/master/OpenKeychain/src/main/AndroidManifest.xml -->

                <data android:pathPattern="/.*\\.fw" />
                <data android:pathPattern="/.*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- no mimeType filter, needed for CM-derived ROMs? -->

                <data android:host="*" />
                <data android:scheme="file" />

                <!-- as seen on openkeychain repo: https://github.com/open-keychain/open-keychain/blob/master/OpenKeychain/src/main/AndroidManifest.xml -->

                <data android:pathPattern="/.*\\.fw" />
                <data android:pathPattern="/.*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fw" />
                <data android:pathPattern="/.*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbw" />
                <data android:pathPattern="/.*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbz" />
                <data android:pathPattern="/.*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
                <data android:pathPattern="/.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pbl" />
            </intent-filter>

            <!-- to receive the firmwares from the donwload content provider -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <service
            android:name="com.voodoo.GadgetBridgeFiles.externalevents.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name="com.voodoo.GadgetBridgeFiles.service.DeviceCommunicationService" />

        <receiver
            android:name="com.voodoo.GadgetBridgeFiles.externalevents.BluetoothStateChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.voodoo.GadgetBridgeFiles.service.receivers.GBMusicControlReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.voodoo.PRMS_MiBand.musiccontrol" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.voodoo.GadgetBridgeFiles.service.receivers.GBCallControlReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.voodoo.PRMS_MiBand.callcontrol" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.DebugActivity"
            android:label="@string/title_activity_debug"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ControlCenter"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.DiscoveryActivity"
            android:label="@string/title_activity_discovery"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ControlCenter" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.AndroidPairingActivity"
            android:label="@string/title_activity_android_pairing" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.devices.miband.MiBandPairingActivity"
            android:label="@string/title_activity_mi_band_pairing" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.charts.ChartsActivity"
            android:label="@string/title_activity_charts"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ControlCenter" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.ConfigureAlarms"
            android:label="@string/title_activity_set_alarm"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.SettingsActivity" />
        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.AlarmDetails"
            android:label="@string/title_activity_alarm_details"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.ConfigureAlarms" />

        <provider
            android:name="com.voodoo.GadgetBridgeFiles.contentprovider.PebbleContentProvider"
            android:authorities="com.getpebble.android.provider"
            android:exported="true" />

        <receiver android:name="com.voodoo.GadgetBridgeFiles.SleepAlarmWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.voodoo.PRMS_MiBand.SLEEP_ALARM_WIDGET_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sleep_alarm_widget_info" />
        </receiver>

        <activity
            android:name="com.voodoo.GadgetBridgeFiles.activities.ExternalPebbleJSActivity"
            android:label="@string/app_configure"
            android:parentActivityName="com.voodoo.GadgetBridgeFiles.activities.AppManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.voodoo.GadgetBridgeFiles.activities.ControlCenter" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="gadgetbridge" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PRMS_DiscoverActivity"
            android:label="Add a Device" />
        <activity
            android:name=".PRMS_MainActivity"
            android:label="PRMS"
            android:theme="@style/VoodooTheme" />
        <activity android:name=".PRMS_MeasureHR" />
        <activity
            android:name=".LoginPage"
            android:label="PRMS"
            android:theme="@style/VoodooLoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:label="PRMS"
            android:theme="@style/VoodooLoginTheme" />
        <activity
            android:name=".Add_New_Patient_Activity"
            android:theme="@style/VoodooTheme" />
        <activity
            android:name=".Show_Info"
            android:theme="@style/VoodooTheme" />
        <activity
            android:name=".AddPatientDetails"
            android:theme="@style/VoodooTheme" />
        <activity android:name=".EditPatientDetails" />
        <activity
            android:name=".Doctor_homePage"
            android:theme="@style/VoodooTheme" />
        <activity
            android:name=".Show_Selected_Patient_Details"
            android:theme="@style/VoodooTheme" />
        <activity
            android:name=".ShowHeartRate"
            android:theme="@style/VoodooTheme"></activity>
        <activity android:name=".MessageActivity">

        </activity>
    </application>

</manifest> <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
